h1 {text-align: center;
    color: blue;
    font-size: 50px;
    font-style: italic;
}

header{
    background-color: cornflowerblue;
    padding: 40px;
}

nav li {
    display: inline;
    margin-right: 18px;
}

nav a:hover{
    color: blueviolet;
    text-decoration: underline;
}

nav a {
text-transform: uppercase;
color: darkblue;
font-weight: bold;
font-size: 15px;
text-decoration: none; 
}

.logotipo{
    width: 15%;

}
.servicos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; 
}

.servicos li{
    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;
    border: 2px solid  cornflowerblue;
    border-radius: 10px;

}

.servicos li:hover{
border-color: blueviolet;
}
 .servicos li:hover h2{
    font-size: 34px;
    color: blueviolet;
 }
 .servicos li:active{
    border-color: violet;
    border-width: 4px;
 }

 
.servicos img{
    width: 200px;
    height: 220px;
}
 .servicos h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
 }
 .descricao{
    font-size: 18px;
 }
 .preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }

 footer{
    text-align: center;
    background-color: cornflowerblue;
    padding: 40px;
 }
  footer img{
    width: 10%;
  }

  .copyright{
    font-size: 13px;
    margin: 20px 0;
  }

  main{
    width: 940px;
    margin: 0 auto;
  }

  form{
    margin: 40px 0;
  }

  form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
  }

 .input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 05px 30px;
    width: 50%;
   }

   .checkbox{
    margin: 20px 0;
   }

   .enviar{
    width: 40%;
    padding: 15px 0;
    background-color: cornflowerblue;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
   }

   .enviar:hover{
    background: rgb(0, 89, 255);
    transform: scale(1.2);
   }

table{
  margin: 20px 0 40px;
}

thead{
  background: cornflowerblue;
  color:rgb(255, 255, 255);
  font-weight: bold;

  
}

tbody{
  background: rgba(4, 155, 255, 0.966);
  color: rgb(255, 255, 255);

}

td, th{
  border: 1px solid black;
  padding: 8px 15px;
}

/*style.css*/
.imagem{
  width: 25%;
  height: 250px;
}

.titulo-principal{
  text-align: center;
  font-size: 20px;
  margin: 0 0 1em;
}

.texto p, .contato p{
  margin: 0 0 1em;
}

.imagem-principal{
width: 120px;

}

